<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chestnut.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>44C9204BAE75E1078E139397F3B9E9A47C487D19</string>
				<key>dateExpires</key>
				<string>4/8/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44C9204BAE75E1078E139397F3B9E9A47C487D19</string>
						<key>dateExpires</key>
						<string>4/8/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W3H65F89G</string>
						<key>name</key>
						<string>Sam Pochyly</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3W3H65F89G.com.pochyly.chestnut</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3W3H65F89G</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>chestnut.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b0dafd51-39c4-4348-8dbe-4fb8e38a3440</string>
				<key>dateExpires</key>
				<string>4/8/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.pochyly.chestnut</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3W3H65F89G</string>
				<key>name</key>
				<string>Sam Pochyly</string>
			</dict>
			<key>versionNumber</key>
			<string>1.9</string>
		</dict>
	</array>
</dict>
</plist>
